In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("./india-districts-census-2011.csv")

print(df.shape)
df.head()

(640, 118)

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,78,346,35,50,85,59,8,67,12,629

In [3]:
missing_data = df.isnull()

true_counts = [(column, missing_data[column].values.sum()) for column in missing_data.columns]
false_counts = [(column, (~missing_data[column].values).sum()) for column in missing_data.columns]
true_counts.sort(key=lambda x:x[1], reverse = True)
true_counts

[('District code', 0),
 ('State name', 0),
 ('District name', 0),
 ('Population', 0),
 ('Male', 0),
 ('Female', 0),
 ('Literate', 0),
 ('Male_Literate', 0),
 ('Female_Literate', 0),
 ('SC', 0),
 ('Male_SC', 0),
 ('Female_SC', 0),
 ('ST', 0),
 ('Male_ST', 0),
 ('Female_ST', 0),
 ('Workers', 0),
 ('Male_Workers', 0),
 ('Female_Workers', 0),
 ('Main_Workers', 0),
 ('Marginal_Workers', 0),
 ('Non_Workers', 0),
 ('Cultivator_Workers', 0),
 ('Agricultural_Workers', 0),
 ('Household_Workers', 0),
 ('Other_Workers', 0),
 ('Hindus', 0),
 ('Muslims', 0),
 ('Christians', 0),
 ('Sikhs', 0),
 ('Buddhists', 0),
 ('Jains', 0),
 ('Others_Religions', 0),
 ('Religion_Not_Stated', 0),
 ('LPG_or_PNG_Households', 0),
 ('Housholds_with_Electric_Lighting', 0),
 ('Households_with_Internet', 0),
 ('Households_with_Computer', 0),
 ('Rural_Households', 0),
 ('Urban_Households', 0),
 ('Households', 0),
 ('Below_Primary_Education', 0),
 ('Primary_Education', 0),
 ('Middle_Education', 0),
 ('Secondary_Education', 0),
 ('Higher_Education', 0),
 ('Graduate_Education', 0),
 ('Other_Education', 0),
 ('Literate_Education', 0),
 ('Illiterate_Education', 0),
 ('Total_Education', 0),
 ('Age_Group_0_29', 0),
 ('Age_Group_30_49', 0),
 ('Age_Group_50', 0),
 ('Age not stated', 0),
 ('Households_with_Bicycle', 0),
 ('Households_with_Car_Jeep_Van', 0),
 ('Households_with_Radio_Transistor', 0),
 ('Households_with_Scooter_Motorcycle_Moped', 0),
 ('Households_with_Telephone_Mobile_Phone_Landline_only', 0),
 ('Households_with_Telephone_Mobile_Phone_Mobile_only', 0),
 ('Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car',
  0),
 ('Households_with_Television', 0),
 ('Households_with_Telephone_Mobile_Phone', 0),
 ('Households_with_Telephone_Mobile_Phone_Both', 0),
 ('Condition_of_occupied_census_houses_Dilapidated_Households', 0),
 ('Households_with_separate_kitchen_Cooking_inside_house', 0),
 ('Having_bathing_facility_Total_Households', 0),
 ('Having_latrine_facility_within_the_premises_Total_Households', 0),
 ('Ownership_Owned_Households', 0),
 ('Ownership_Rented_Households', 0),
 ('Type_of_bathing_facility_Enclosure_without_roof_Households', 0),
 ('Type_of_fuel_used_for_cooking_Any_other_Households', 0),
 ('Type_of_latrine_facility_Pit_latrine_Households', 0),
 ('Type_of_latrine_facility_Other_latrine_Households', 0),
 ('Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households',
  0),
 ('Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households',
  0),
 ('Not_having_bathing_facility_within_the_premises_Total_Households', 0),
 ('Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households',
  0),
 ('Main_source_of_drinking_water_Un_covered_well_Households', 0),
 ('Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households', 0),
 ('Main_source_of_drinking_water_Spring_Households', 0),
 ('Main_source_of_drinking_water_River_Canal_Households', 0),
 ('Main_source_of_drinking_water_Other_sources_Households', 0),
 ('Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households',
  0),
 ('Location_of_drinking_water_source_Near_the_premises_Households', 0),
 ('Location_of_drinking_water_source_Within_the_premises_Households', 0),
 ('Main_source_of_drinking_water_Tank_Pond_Lake_Households', 0),
 ('Main_source_of_drinking_water_Tapwater_Households', 0),
 ('Main_source_of_drinking_water_Tubewell_Borehole_Households', 0),
 ('Household_size_1_person_Households', 0),
 ('Household_size_2_persons_Households', 0),
 ('Household_size_1_to_2_persons', 0),
 ('Household_size_3_persons_Households', 0),
 ('Household_size_3_to_5_persons_Households', 0),
 ('Household_size_4_persons_Households', 0),
 ('Household_size_5_persons_Households', 0),
 ('Household_size_6_8_persons_Households', 0),
 ('Household_size_9_persons_and_above_Households', 0),
 ('Location_of_drinking_water_source_Away_Households', 0),
 ('Married_couples_1_Households', 0),
 ('Married_couples_2_Households', 0),
 ('Married_couples_3_Households', 0),
 ('Married_couples_3_or_more_Households', 0),
 ('Married_couples_4_Households', 0),
 ('Married_couples_5__Households', 0),
 ('Married_couples_None_Households', 0),
 ('Power_Parity_Less_than_Rs_45000', 0),
 ('Power_Parity_Rs_45000_90000', 0),
 ('Power_Parity_Rs_90000_150000', 0),
 ('Power_Parity_Rs_45000_150000', 0),
 ('Power_Parity_Rs_150000_240000', 0),
 ('Power_Parity_Rs_240000_330000', 0),
 ('Power_Parity_Rs_150000_330000', 0),
 ('Power_Parity_Rs_330000_425000', 0),
 ('Power_Parity_Rs_425000_545000', 0),
 ('Power_Parity_Rs_330000_545000', 0),
 ('Power_Parity_Above_Rs_545000', 0),
 ('Total_Power_Parity', 0)]

In [4]:
unique_counts = [(column, df[column].unique().size) for column in df.columns]
unique_counts.sort(key=lambda x:x[1], reverse = True)
unique_counts

[('District code', 640),
 ('Population', 640),
 ('Male', 640),
 ('Female', 640),
 ('Literate', 640),
 ('Male_Literate', 640),
 ('Female_Literate', 640),
 ('Workers', 640),
 ('Male_Workers', 640),
 ('Female_Workers', 640),
 ('Main_Workers', 640),
 ('Marginal_Workers', 640),
 ('Non_Workers', 640),
 ('Agricultural_Workers', 640),
 ('Other_Workers', 640),
 ('Hindus', 640),
 ('Housholds_with_Electric_Lighting', 640),
 ('Households', 640),
 ('Below_Primary_Education', 640),
 ('Primary_Education', 640),
 ('Middle_Education', 640),
 ('Secondary_Education', 640),
 ('Higher_Education', 640),
 ('Literate_Education', 640),
 ('Total_Education', 640),
 ('Age_Group_0_29', 640),
 ('Age_Group_30_49', 640),
 ('Households_with_separate_kitchen_Cooking_inside_house', 640),
 ('Having_bathing_facility_Total_Households', 640),
 ('Having_latrine_facility_within_the_premises_Total_Households', 640),
 ('Ownership_Owned_Households', 640),
 ('Type_of_bathing_facility_Enclosure_without_roof_Households', 640),
 ('Location_of_drinking_water_source_Within_the_premises_Households', 640),
 ('Main_source_of_drinking_water_Tapwater_Households', 640),
 ('Household_size_3_persons_Households', 640),
 ('Household_size_6_8_persons_Households', 640),
 ('Married_couples_1_Households', 640),
 ('Cultivator_Workers', 639),
 ('Muslims', 639),
 ('Age_Group_50', 639),
 ('Households_with_Bicycle', 639),
 ('Households_with_Television', 639),
 ('Households_with_Telephone_Mobile_Phone', 639),
 ('Not_having_bathing_facility_within_the_premises_Total_Households', 639),
 ('Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households',
  639),
 ('Household_size_3_to_5_persons_Households', 639),
 ('Household_size_4_persons_Households', 639),
 ('Household_size_5_persons_Households', 639),
 ('Married_couples_2_Households', 639),
 ('Illiterate_Education', 638),
 ('Households_with_Radio_Transistor', 638),
 ('Households_with_Scooter_Motorcycle_Moped', 638),
 ('Household_size_1_to_2_persons', 638),
 ('Location_of_drinking_water_source_Away_Households', 638),
 ('LPG_or_PNG_Households', 637),
 ('Households_with_Computer', 637),
 ('Urban_Households', 637),
 ('Graduate_Education', 637),
 ('Households_with_Telephone_Mobile_Phone_Mobile_only', 637),
 ('Location_of_drinking_water_source_Near_the_premises_Households', 637),
 ('Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households', 636),
 ('Household_size_2_persons_Households', 636),
 ('Married_couples_None_Households', 636),
 ('Households_with_Telephone_Mobile_Phone_Both', 635),
 ('Condition_of_occupied_census_houses_Dilapidated_Households', 635),
 ('Household_size_9_persons_and_above_Households', 635),
 ('District name', 634),
 ('Ownership_Rented_Households', 634),
 ('Type_of_latrine_facility_Pit_latrine_Households', 634),
 ('Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households',
  634),
 ('Married_couples_3_or_more_Households', 634),
 ('Household_Workers', 632),
 ('Rural_Households', 632),
 ('Households_with_Car_Jeep_Van', 632),
 ('Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car',
  631),
 ('Household_size_1_person_Households', 631),
 ('Other_Education', 630),
 ('Households_with_Telephone_Mobile_Phone_Landline_only', 629),
 ('Main_source_of_drinking_water_Un_covered_well_Households', 629),
 ('Married_couples_3_Households', 629),
 ('Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households',
  627),
 ('Christians', 622),
 ('Main_source_of_drinking_water_Tubewell_Borehole_Households', 621),
 ('Households_with_Internet', 619),
 ('Main_source_of_drinking_water_Other_sources_Households', 618),
 ('Religion_Not_Stated', 612),
 ('SC', 610),
 ('Male_SC', 608),
 ('Age not stated', 606),
 ('Female_SC', 604),
 ('Type_of_latrine_facility_Other_latrine_Households', 603),
 ('Married_couples_4_Households', 594),
 ('ST', 584),
 ('Male_ST', 583),
 ('Female_ST', 582),
 ('Main_source_of_drinking_water_River_Canal_Households', 572),
 ('Sikhs', 565),
 ('Total_Power_Parity', 562),
 ('Main_source_of_drinking_water_Tank_Pond_Lake_Households', 559),
 ('Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households',
  558),
 ('Jains', 546),
 ('Power_Parity_Rs_45000_150000', 545),
 ('Buddhists', 511),
 ('Power_Parity_Rs_45000_90000', 504),
 ('Main_source_of_drinking_water_Spring_Households', 493),
 ('Power_Parity_Rs_90000_150000', 482),
 ('Married_couples_5__Households', 465),
 ('Type_of_fuel_used_for_cooking_Any_other_Households', 450),
 ('Others_Religions', 436),
 ('Power_Parity_Rs_150000_330000', 432),
 ('Power_Parity_Less_than_Rs_45000', 414),
 ('Power_Parity_Rs_330000_545000', 407),
 ('Power_Parity_Rs_150000_240000', 345),
 ('Power_Parity_Rs_240000_330000', 324),
 ('Power_Parity_Rs_425000_545000', 315),
 ('Power_Parity_Rs_330000_425000', 295),
 ('Power_Parity_Above_Rs_545000', 290),
 ('State name', 35)]

In [5]:
# Remove categorical variables with too many values
df.drop(["District code", "District name"], inplace=True, axis=1)