In [10]:
from scipy.io import arff
import pandas as pd
import numpy as np

data = arff.loadarff("qsar_biodeg.arff")
data = pd.DataFrame(data[0])
str_data = data.select_dtypes([np.object])
str_data = str_data.stack().str.decode('utf-8').unstack()
data["class"] = str_data["class"]

data.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V33,V34,V35,V36,V37,V38,V39,V40,V41,class
0,3.919,2.6909,0.0,0.0,0.0,0.0,0.0,31.4,2.0,0.0,...,0.0,0.0,0.0,2.949,1.591,0.0,7.253,0.0,0.0,1
1,4.170,2.1144,0.0,0.0,0.0,0.0,0.0,30.8,1.0,1.0,...,0.0,0.0,0.0,3.315,1.967,0.0,7.257,0.0,0.0,1
2,3.932,3.2512,0.0,0.0,0.0,0.0,0.0,26.7,2.0,4.0,...,0.0,0.0,1.0,3.076,2.417,0.0,7.601,0.0,0.0,1
3,3.000,2.7098,0.0,0.0,0.0,0.0,0.0,20.0,0.0,2.0,...,0.0,0.0,1.0,3.046,5.000,0.0,6.690,0.0,0.0,1
4,4.236,3.3944,0.0,0.0,0.0,0.0,0.0,29.4,2.0,4.0,...,0.0,0.0,0.0,3.351,2.405,0.0,8.003,0.0,0.0,1

In [11]:
unique_counts = [(column, data[column].unique().size) for column in data.columns]
unique_counts.sort(key=lambda x:x[1], reverse = True)
unique_counts

[('V2', 1022),
 ('V39', 862),
 ('V13', 756),
 ('V36', 705),
 ('V37', 624),
 ('V31', 553),
 ('V15', 510),
 ('V30', 470),
 ('V1', 440),
 ('V12', 384),
 ('V14', 373),
 ('V22', 352),
 ('V27', 329),
 ('V28', 205),
 ('V8', 188),
 ('V17', 167),
 ('V18', 125),
 ('V16', 24),
 ('V11', 21),
 ('V41', 17),
 ('V5', 16),
 ('V34', 16),
 ('V7', 15),
 ('V9', 15),
 ('V6', 13),
 ('V23', 13),
 ('V10', 12),
 ('V3', 11),
 ('V33', 11),
 ('V32', 8),
 ('V35', 8),
 ('V38', 8),
 ('V40', 5),
 ('V4', 4),
 ('V20', 4),
 ('V21', 4),
 ('V26', 4),
 ('V24', 2),
 ('V25', 2),
 ('V29', 2),
 ('class', 2)]

In [12]:
data.to_csv("new_qsar_biodeg.csv", index=False)